<ActionBar class="action-bar">
  <NavigationButton
    (tap)="onBackTap()"
    android.systemIcon="ic_menu_back"
  ></NavigationButton>
  <Label class="action-bar-title" [text]="item.name"></Label>
</ActionBar>

<StackLayout>
  <RadDataForm #myDish [source]="item" tkExampleTitle tkToggleNavButton>
    <TKEntityProperty
      tkDataFormProperty
      name="id"
      displayName="id"
      hidden="true"
      index="0"
    >
    </TKEntityProperty>
    <TKEntityProperty
      tkDataFormProperty
      name="name"
      displayName="Name"
      index="1"
    >
    </TKEntityProperty>
    <TKEntityProperty
      tkDataFormProperty
      name="variant"
      displayName="Variant"
      index="2"
    >
    </TKEntityProperty>
    <TKEntityProperty
      tkDataFormProperty
      name="description"
      displayName="Description"
      index="3"
    >
    </TKEntityProperty>
    <TKEntityProperty
      tkDataFormProperty
      name="weight"
      displayName="Weight"
      index="4"
    >
    </TKEntityProperty>
    <TKEntityProperty
      tkDataFormProperty
      name="starttemp"
      displayName="Start temp"
      index="5"
    >
    </TKEntityProperty>
    <TKEntityProperty
      tkDataFormProperty
      name="temp"
      displayName="Temp"
      index="5"
    >
    </TKEntityProperty>
  </RadDataForm>
</StackLayout>
